{% extends 'layout.html.twig' %}

{% block title %}Suivi d'un Projet - PROCOST{% endblock %}

{% block main %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-users"></i>&nbsp;Suivi de {{ project.name }}</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('main_dashboard') }}"><i class="fa fa-home fa-lg"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('list_projects') }}">Projet</a>
            </li>
            <li class="breadcrumb-item">Suivi de {{ project.name }}</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="tile">
                <table class="table table-striped table-bordered table-sm">
                    <tbody>
                        <tr>
                            <th>Nom</td>
                            <td>{{ project.name }}</td>
                        </tr>
                        <tr>
                            <th>Description</td>
                            <td>{{ project.description }}</td>
                        </tr>
                        <tr>
                            <th>Prix</td>
                            <td>{{ project.price }}</td>
                        </tr>
                        <tr>
                            <th>Crée le </td>
                            <td>{{ project.createdAt|date("F,Y") }}</td>
                        </tr>
                        <tr>
                            <th>Prix Total </td>
                            <td>{{ projectTotalCost }}</td>
                        </tr>
                        <tr>
                            <th>Nombre d'employés </td>
                            <td>{{ projectWorkersCount }}</td>
                        </tr>
                    </tbody>
                </table>

                {% if project.deliveryDate is not null %}

                    <a href="{{ path('project_edit', { 'id': project.id }) }}" class="btn btn-info">
                        <i class="fa fa-pencil"></i>Modifier
                    </a>

                    <a href="{{ path('project_delivered', { 'id': project.id }) }}" class="btn btn-info">
                        <i class="fa fa-check"></i>Deliver Project
                    </a>

                    <a href="{{ path('project_delete', { 'id': project.id }) }}" class="btn btn-danger">
                        <i class="fa fa-trash"></i>Delete Project
                    </a>
                
                {% endif %}
                
                
            </div>
        </div>
        <div class="col-md-8">
            <div class="tile pb-5">
                <h3 class="tile-title">Historique des temps de production</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Prénom Nom</th>
                                <th>Temps</th>
                                <th>Date de saisie</th>
                                <th>Coût total</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for time in project.worktimes %}
                            <tr>
                                <td>{{ time.worker.firstName ~ ' ' ~ time.worker.lastName }}</td>
                                <td>{{ time.days ~ ' jours' }}</td>
                                <td>{{ time.createdAt|date("d-m-y") }}</td>
                                <td>{{ time.cost ~ ' €' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <hr/>
                <nav class="float-right">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <span class="page-link">&laquo;</span>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">1<span class="sr-only">(current)</span></span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a></li>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
